In [4]:
import os
import re
import csv
import pickle
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium import webdriver
from requests import get
from warnings import warn
from IPython.core.display import clear_output
from time import time
from time import sleep
from random import randint
from geopy.geocoders import Nominatim
from unidecode import unidecode
import psycopg2
import geopandas as gpds
import sqlalchemy as db
import shapely.geometry
import geopy
import folium
import matplotlib.pyplot as plt 
import pandas as pd  
import statsmodels.api as sm  
import pylab as pl  
import numpy as np  
from patsy import dmatrix

In [5]:
# create the engine
engine = db.create_engine('postgresql+psycopg2://postgres:12345@localhost/house_sales', echo=False )

# open the connection
conn = engine.connect()

In [6]:
df = pd.read_sql('house_sales', con=conn)

In [7]:
df

,region,sales_price,bedroom,bathroom,parking,dimensions,latitude,longitude,price_meter,average
0,"Perdizes, Sao Paulo",1830000,3,3,2,240,-23.537930,-46.680671,7625.000000,10122.330776
1,"Vila Olimpia, Sao Paulo",1700000,3,4,2,120,-23.594028,-46.684219,14166.666667,15175.224494
2,"Santa Efigenia, Sao Paulo",500000,3,4,2,120,-23.925477,-46.400922,4166.666667,7326.043238
3,"Chacara Santo Antonio, Sao Paulo",900000,2,2,2,101,-23.499734,-47.553314,8910.891089,10614.943143
4,"Vila Olimpia, Sao Paulo",1025000,2,1,2,60,-23.594028,-46.684219,17083.333333,15175.224494
...,...,...,...,...,...,...,...,...,...,...
8628,"Higienopolis, Sao Paulo",1180000,3,4,2,203,-20.836857,-49.388155,5812.807882,10584.744149
8629,"Higienopolis, Sao Paulo",4400000,3,2,3,288,-20.836857,-49.388155,15277.777778,10584.744149
8630,"Vila Re, Sao Paulo",235000,2,1,3,44,-23.528375,-46.497842,5340.909091,4813.713667
8631,"Vila Mariana, Sao Paulo",798000,3,2,3,100,-23.583700,-46.632741,7980.000000,45059.041922
8632,"Santa Cecilia, Sao Paulo",1164000,3,1,2,103,-23.529660,-46.651892,11300.970874,150656.469235

In [9]:
dummy_educacao = pd.get_dummies(df['region'],prefix='region')
cols_to_keep = ['sales_price', 'bedroom', 'bathroom', 'parking', 'dimensions']
data = df[cols_to_keep].join(dummy_educacao.loc[:,'educacao_2':])

In [10]:
data

,sales_price,bedroom,bathroom,parking,dimensions,"region_Aclimacao, Sao Paulo","region_Agua Branca, Sao Paulo","region_Agua Fria, Sao Paulo","region_Agua Funda, Sao Paulo","region_Agua Rasa, Sao Paulo",...,"region_Vila Vermelha, Sao Paulo","region_Vila Zelina, Sao Paulo","region_Vila Zilda, Sao Paulo","region_Vila da Paz, Sao Paulo","region_Vila da Saude, Sao Paulo","region_Vila das Belezas, Sao Paulo","region_Vila das Merces, Sao Paulo","region_Vila do Bosque, Sao Paulo","region_Vila do Encontro, Sao Paulo","region_Vila dos Remedios, Sao Paulo"
0,1830000,3,3,2,240,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1700000,3,4,2,120,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,500000,3,4,2,120,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,900000,2,2,2,101,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1025000,2,1,2,60,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8628,1180000,3,4,2,203,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8629,4400000,3,2,3,288,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8630,235000,2,1,3,44,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8631,798000,3,2,3,100,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8632,1164000,3,1,2,103,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
y = data.sales_price

In [12]:
x = data.iloc[:,1:]

In [13]:
data.columns

Index(['sales_price', 'bedroom', 'bathroom', 'parking', 'dimensions',
       'region_Aclimacao, Sao Paulo', 'region_Agua Branca, Sao Paulo',
       'region_Agua Fria, Sao Paulo', 'region_Agua Funda, Sao Paulo',
       'region_Agua Rasa, Sao Paulo',
       ...
       'region_Vila Vermelha, Sao Paulo', 'region_Vila Zelina, Sao Paulo',
       'region_Vila Zilda, Sao Paulo', 'region_Vila da Paz, Sao Paulo',
       'region_Vila da Saude, Sao Paulo', 'region_Vila das Belezas, Sao Paulo',
       'region_Vila das Merces, Sao Paulo', 'region_Vila do Bosque, Sao Paulo',
       'region_Vila do Encontro, Sao Paulo',
       'region_Vila dos Remedios, Sao Paulo'],
      dtype='object', length=364)

In [14]:
# Verificando se existem valores nulos
df.isnull().values.any()

False

In [15]:
import sklearn as sk

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
df = data

In [18]:
df.columns

Index(['sales_price', 'bedroom', 'bathroom', 'parking', 'dimensions',
       'region_Aclimacao, Sao Paulo', 'region_Agua Branca, Sao Paulo',
       'region_Agua Fria, Sao Paulo', 'region_Agua Funda, Sao Paulo',
       'region_Agua Rasa, Sao Paulo',
       ...
       'region_Vila Vermelha, Sao Paulo', 'region_Vila Zelina, Sao Paulo',
       'region_Vila Zilda, Sao Paulo', 'region_Vila da Paz, Sao Paulo',
       'region_Vila da Saude, Sao Paulo', 'region_Vila das Belezas, Sao Paulo',
       'region_Vila das Merces, Sao Paulo', 'region_Vila do Bosque, Sao Paulo',
       'region_Vila do Encontro, Sao Paulo',
       'region_Vila dos Remedios, Sao Paulo'],
      dtype='object', length=364)

In [19]:
# Seleção de variáveis preditoras (Feature Selection)
atributos = data.iloc[:,1:]

In [20]:
atrib_prev = data.sales_price

In [21]:
# Criando objetos
X = atributos.values
Y = atrib_prev.values

In [22]:
# Definindo a taxa de split
split_test_size = 0.3

In [23]:
# Criando dados de treino e de teste
X_treino, X_teste, Y_treino, Y_teste = train_test_split(X, Y, test_size = split_test_size)

In [24]:
# Imprimindo os resultados
print("{0:0.2f}% nos dados de treino".format((len(X_treino)/len(df.index)) * 100))
print("{0:0.2f}% nos dados de teste".format((len(X_teste)/len(df.index)) * 100))

70.00% nos dados de treino
30.00% nos dados de teste

In [25]:
# Utilizando um classificador Naive Bayes
from sklearn.naive_bayes import GaussianNB

In [26]:
# Criando o modelo preditivo
modelo_v1 = GaussianNB()

In [27]:
# Treinando o modelo
modelo_v1.fit(X_treino, Y_treino.ravel())

GaussianNB(priors=None, var_smoothing=1e-09)

In [28]:
from sklearn import metrics

In [29]:
nb_predict_train = modelo_v1.predict(X_treino)

In [30]:
print("Exatidão (Accuracy): {0:.4f}".format(metrics.accuracy_score(Y_treino, nb_predict_train)))
print()

Exatidão (Accuracy): 0.2934

In [31]:
nb_predict_test = modelo_v1.predict(X_teste)

In [32]:
print("Exatidão (Accuracy): {0:.4f}".format(metrics.accuracy_score(Y_teste, nb_predict_test)))
print()

Exatidão (Accuracy): 0.0907

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
modelo_v2 = RandomForestClassifier(random_state = 42)
modelo_v2.fit(X_treino, Y_treino.ravel())

In [25]:
# Verificando os dados de treino
rf_predict_train = modelo_v2.predict(X_treino)
print("Exatidão (Accuracy): {0:.4f}".format(metrics.accuracy_score(Y_treino, rf_predict_train)))

Exatidão (Accuracy): 1.0000

In [26]:
# Verificando nos dados de teste
rf_predict_test = modelo_v2.predict(X_teste)
print("Exatidão (Accuracy): {0:.4f}".format(metrics.accuracy_score(Y_teste, rf_predict_test)))
print()

Exatidão (Accuracy): 0.1597

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
# Terceira versão do modelo usando Regressão Logística
modelo_v3 = LogisticRegression(C = 0.7, random_state = 42, max_iter = 1000)
modelo_v3.fit(X_treino, Y_treino.ravel())
lr_predict_test = modelo_v3.predict(X_teste)

/home/renata/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [30]:
print("Exatidão (Accuracy): {0:.4f}".format(metrics.accuracy_score(Y_teste, lr_predict_test)))
print()
print("Classification Report")
print(metrics.classification_report(Y_teste, lr_predict_test, labels = [1, 0]))

Exatidão (Accuracy): 0.0019

Classification Report
              precision    recall  f1-score   support

           1       0.00      0.00      0.00         0
           0       0.00      0.00      0.00         0

   micro avg       0.00      0.00      0.00         0
   macro avg       0.00      0.00      0.00         0
weighted avg       0.00      0.00      0.00         0

/home/renata/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/renata/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/renata/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/renata/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [31]:
import pickle

In [32]:
# Salvando o modelo para usar mais tarde
filename = 'modelo_treinado_v3.sav'
pickle.dump(modelo_v3, open(filename, 'wb'))

In [33]:
X_teste

array([[2.00000000e+00, 2.00000000e+00, 2.00000000e+00, 8.20000000e+01,
        1.29878049e+04],
       [3.00000000e+00, 1.00000000e+00, 4.00000000e+00, 2.69000000e+02,
        4.88847584e+03],
       [2.00000000e+00, 2.00000000e+00, 4.00000000e+00, 9.40000000e+01,
        5.08510638e+03],
       ...,
       [2.00000000e+00, 1.00000000e+00, 3.00000000e+00, 1.15000000e+02,
        5.72682609e+03],
       [1.00000000e+00, 1.00000000e+00, 2.00000000e+00, 3.00000000e+01,
        1.48333333e+04],
       [4.00000000e+00, 5.00000000e+00, 5.00000000e+00, 2.14000000e+02,
        1.38181542e+04]])

In [34]:
# Carregando o modelo e fazendo previsão com novos conjuntos de dados 
# (X_teste, Y_teste devem ser novos conjuntos de dados preparados com o procedimento de limpeza e transformação adequados)
loaded_model = pickle.load(open(filename, 'rb'))
resultado1 = loaded_model.predict(X_teste[15].reshape(1, -1))
resultado2 = loaded_model.predict(X_teste[18].reshape(1, -1))
print(resultado1)
print(resultado2)

[4.4e+08]
[4.4e+08]